.topnav {
  overflow: hidden;
  background-color: #3d4798;
  position: sticky;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Pangolin", cursive;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #7aa2f2;
  color: black;
}

#kirjautumisIkkuna {
  border-style: solid;
  padding: 20px;
  margin: auto;
  float: none;
  text-align: center;
  margin-top: 20px;
  background-color: #4290c1;
  font-family: "Pangolin", cursive;
  font-size: 22px;
  height: 85vh;
}

header {
  font-size: 70px;
  text-align: center;
  padding: 30px;
  text-align: center;
  background: #d0c5e3;
  font-family: 'Shadows Into Light Two', cursive;
}
