header {
  font-size: 70px;
  text-align: center;
  padding: 30px;
  text-align: center;
  background: #d0c5e3;
  font-family: 'Shadows Into Light Two', cursive;
}
.topnav {
  overflow: hidden;
  background-color: #71759b;
  position: sticky;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #c1d2f3;
  color: black;
}
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #e7d5d5;
	font-family: 'Architects Daughter', cursive;
	font-size: 25px;
}

.container {  /*tämän muutin */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  margin-top: 5%;
}


h1 {
	font-family: 'Architects Daughter', cursive;
}


/*
 * Tyylit kortti "pakalle"
 */


.deck {
	width: 85%;
	background:#cce6e3;
	padding: 1rem;
	border-radius: 4px;
	box-shadow: 8px 9px 26px 0 #2e3d4980;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card {
	height: 3.7rem;
	width: 3.7rem;
	margin: 0.2rem 0.2rem;
	background-image: url("images/tausta.png"); /*Kokeilin laittaa tähän taustan kun puuttui kuva tästä, sano mitä pidät/Toni 19.4 */
	background-size: cover; /*Kortintaustan koon määritys/Toni 19.4 */
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 #2e3d4980;
}

.deck .card img{
	display: none;
}

.deck .card.open {
	transform: rotateY(0);
	cursor: default;
	background: #a1a1a1;
	animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.show img, .deck .card .match img {
	display: block;
}

.deck .card.match {
	cursor: default;
	background: #3de369;
	font-size: 33px;
	animation-name: rubberBand;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.unmatched {
	animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
	background: #e2043b;
}

.deck .card.disabled {
	pointer-events: none;
	opacity: 0.9;
}


/*
 * Tyylit pistetaulukolle
 */


.score-panel {
	text-align: left;
	margin-bottom: 15px;
}



.score-panel .restart {
	float: right;
	cursor: pointer;
}



.timer {
	display: inline-block;
	margin: 0 1rem;
}


/*
 * Tyylit onnittelu viestille
 */


.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000000b3;
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
	transition: all 5s ease-in-out;
	font-family: 'Architects Daughter', cursive;
}

.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: 'Architects Daughter', cursive;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #E5F720;
}

.popup .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}



#play-again {
	background-color: #141214;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
	display: block;
	margin: 0 auto;
	width: 50%;
	font-family: 'Architects Daughter', cursive;
	color: #ffffff;
	border-radius: 5px;
}

/* animaatiot*/
@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}


/****** Media queries
***************************/


@media (max-width: 320px) {
	.deck {
		width: 85%;
	}

	.deck .card {
		height: 4.7rem;
		width: 4.7rem;
	}
}


/* For Tablets and larger screens
****************/

@media (min-width: 768px) {
	.container {
		font-size: 22px;
	}

	.deck {
		width: 660px;
		height: 680px;
	}

	.deck .card {
		height: 125px;
		width: 125px;
	}

	.popup {
		width: 60%;
	}
}
